/* common */
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* font family */
body {
    font-family: 'Montserrat', sans-serif;
}
/* layout */
.layout {
    width: 70%;
    margin: 20px auto;
}

/* uncommon */
/* HEADER */
/* nav */
nav {
    height: 140px;
    background-color: pink;
}

.logo-container {
    background-color: aqua;
    margin-bottom: 20px;
}

#logo {
    width: 20%;
    padding-right: 20px;
    border-right: 1px solid lightgray;
}

/* menu in alto */
.list-inline > li {
    display: inline-block;
    list-style: none;
    padding: 10px 10px 10px 0;
}

.list-inline a {
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    font-size: 18px;
}

/* cambio il colore sul link quando ci passo sopra */
.list-inline a:hover {
    color: black;
}

/* cambia il colore su "a" ma selezionando "li"  */
/* .list-inline li:hover > a { */
    /* color:black; */
/* } */

/* banner */
.banner {
    height: 500px;
    margin: 20px 0;
    border-radius: 10px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-color: burlywood;
}

.testo-banner {
    width: 60%;
    padding: ;
}

/* MAIN */
/* blocco */
#blocco {
    padding-bottom: 20px;
    background-color: blue;
}

/* titolo blocco */
.title {
    height: 75px;
    margin-bottom: 20px;
    background-color: lightskyblue;
}

/* .container dei float */
/* rettangoli  */
.left {
    float: left;
}

.lato {
    /* height: 500px; */
    width: 22%;
    background-color: lightskyblue;
}

.centro {
    /* height: 500px; */
    width: 52%;
    margin: 0 2%;
    background-color: lightskyblue;
}


.immagine1 {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    background-image: url(../img/img-1.jpg);
    background-size: cover;
}



















/* FOOTER */
footer {
    height: ;
    margin-top: 10px;
    background-color: ;
    text-align: center;
}

#cuore {
    color: red;
    font-size: 25px;
}


/* settare le immagini come background image */
/* background color rgba */