/* common */
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* font family */
body {
    font-family: 'Montserrat', sans-serif;
}
/* layout */
.layout {
    width: 80%;
    margin: 20px auto;
}
/* testo */
.gray {
    color: gray;
}
.white {
    color: white;
}

/* uncommon */
/* HEADER */
.logo-container {
    margin-bottom: 40px;
    /* background-color: aqua; */
}
#logo {
    width: 15%;
    /* padding-right: 20px; */
    /* border-right: 1px solid lightgray; */
}
/* nav */
nav {
    margin-bottom: 40px;
    /* background-color: pink; */
}
/* menu */
/* è una ul "potenziata" */
.list-inline > li {
    display: inline-block;
    list-style: none;
    padding: 10px 10px 10px 0;
}

.list-inline a {
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    font-size: 18px;
}

/* cambio colore link al passaggio del mouse */
.list-inline a:hover {
    color: black;
}

/* cambia il colore su "a" ma selezionando "li"  */
/* .list-inline li:hover > a { */
    /* color:black;  */
/* } */

/* banner */
.banner {
    height: 600px;
    border-radius: 10px;
    margin-bottom: 40px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    /* background-color: burlywood; */
}
.banner-overlay {
    height: 600px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.banner-text {
    width: 60%;
    padding-top: 400px;
    padding-left: 50px;
}
h2 {
    font-size: 30px;
}

/* MAIN */
/* blocco */
/* titolo blocco */
.title {
    margin-bottom: 40px;    /* background-color: lightskyblue; */
}

/* .container dei float */
/* rettangoli  */
.left {
    float: left;
}

.side {
    /* height: 500px; */
    width: 22%;
    /* background-color: lightskyblue; */
}

.center {
    /* height: 500px; */
    width: 52%;
    margin: 0 2%;
    /* background-color: lightskyblue; */
}

h3 {
    margin-bottom: 20px;
}

/* immagini */
.img {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.img-overlay {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
}

/* se provo a fare questo mi sballa l'img centrale
.img .img-overlay {
    height: 250px;
    width: 100%;
    border-radius: 10px;
}
.img {
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
 }
 .img-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
}  */

.img-sx {
    background-image: url(../img/img-1.jpg);
}
.img-center {
    background-image: url(../img/banner-2.jpg);
}
.img-dx {
    background-image: url(../img/img-3.jpg);
}

/* FOOTER */
footer {
    margin-top: 40px;
    text-align: center;
}
#cuore {
    color: red;
    font-size: 25px;
}